^{:watch-dirs ["test" "src/cljs"]
  :css-dirs ["resources/public/css"]
  :auto-testing true
  :open-file-command "emacsclient"
  :open-url "http://localhost:4000"}
{:main rester-ui.core
 :infer-externs true}
