/* theme */
body{
    background-color: #212121;
    color:#e0e0e0;
}
nav {
    background-color: #323232 !important;
}
input {
    color: #e0e0e0;
}
a.link {
    color: #7b1fa2 !important;
}
/* a > i.material-icons { */
/*     color: #673ab7 !important; */
/* } */
.modal {
    background-color: #424242 !important;
    
}
.modal-footer{
    background-color: #424242 !important;
}
.tabs {
    background-color: #303030  !important; /*#26a69a */
}
.tabs .tab a {
    color: #e0e0e0 !important;
}
.tabs .indicator{
    background-color: #666 !important;
}
.tabs a:focus.active{
    background-color: rgba(100,100,100,0.2) !important;
    
}
.sidenav{
    background-color: #323232 !important;
}
.sidenav li > a{
    color: #e0e0e0 !important;
}
.sidenav li > a > i.material-icons{
    color: rgba(255,255,255,0.54) !important;
}
.collapsible-body{
    background-color: #323232 !important;
}
.keyboard-focused .collapsible-header:focus{
    background-color: rgba(100,100,100,0.2) !important;
}
.sidenav .collapsible-header:hover{
    background-color: rgba(100,100,100,0.2) !important;
}
.dropdown-content{
    background-color: #212121 !important;
}

.card {
    background-color: #282828 !important;
}
