header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height:48px !important;
        line-height:48px !important;
    }
}
/* some style */
.padded {
  padding-left: 15px;
}

.verb {
  text-transform: uppercase;
  font-weight: bold;
}

.code {
  height: 200px;
  width: 100%;
}

/* menu item fix */
.menu-items{
    width: 100%;
    /* padding-right: 10px; */
}
.menu-items a{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.middle {
    vertical-align: middle;
}
.success{
    color:#4caf50;
}
.danger {
    color: #ef5350;
}
.warning{
    color: #e57373;
}

.compact-inputs .col .input-field {
    margin-top: 0.1rem !important;
    margin-bottom: 0.1rem !important;
}

.hidden {
    display:none !important;
}
.abbr{
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}
