header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
/* some style */
.top-nav{
  height: 110px;
  box-shadow: none;
  border-bottom: 1px solid rgba(0,0,0,0.14);
  /* background-color: transparent; */
}
.padded {
  padding-left: 15px;
}

.verb {
  text-transform: uppercase;
  font-weight: bold;
}

.code {
  height: 200px;
  width: 100%;
}

/* menu item fix */
.menu-items{
    width: 100%;
    /* padding-right: 10px; */
}
.menu-items a{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.danger {
    color: #e57373;
}
