/* theme */
body{
    background-color: #263238;
    color:white;
}
input {
    color: white;
}
header, main, footer {
    padding-left: 300px;
}
.tabs {
    background-color: #262938  !important; /*#26a69a */
}
.tabs .tab a {
    color: white !important;
}
.sidenav{
    background-color: #263238 !important;
}
.sidenav li > a{
    color: white !important;
}
.collapsible-body{
    background-color: #263238 !important;
}
/* li.active{ */
/*     background-color: rgb(38,50,56,0.1) !important; */
/* } */
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
/* some style */
.top-nav{
  height: 110px;
  box-shadow: none;
  border-bottom: 1px solid rgba(0,0,0,0.14);
  /* background-color: transparent; */
}
.padded {
  padding-left: 15px;
}

.verb {
  text-transform: uppercase;
  font-weight: bold;
}

.code {
  height: 200px;
  width: 100%;
}

/* menu item fix */
.menu-items{
    width: 100%;
    /* padding-right: 10px; */
}
.menu-items a{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
